.profile__avatar-edit {
  width: 26px;
  height: 26px;
  padding: 0;
  background-image: url(../../images/edit-avatar.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  visibility: hidden;
  z-index: 1;
}
