.header__logo {
  max-width: 173px;
  max-height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 550px) {
  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
