.gallery__trash-button {
  width: 18px;
  height: 19px;
  background-image: url(../../images/trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 18px;
  border: none;
  padding: 0;
}

.gallery__trash-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
