.gallery__text {
  font-size: 24px;
  line-height: 1.21;
  font-weight: 900;
  font-style: normal;
  color: black;
  padding: 0;
  margin: 25px 0 31px 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 222px;
}
